:root { 
--red_800_7f:#d11e1e7f; 
--black_900_7e:#0000007e; 
--gray_50_01:#f9f9f9; 
--blue_gray_50:#eff1f4; 
--red_600:#db4444; 
--red_800:#d11e1e; 
--green_800:#229f17; 
--black_900_3f:#0000003f; 
--green_700:#3b823e; 
--gray_50:#fdfbf7; 
--black_900_21:#00000021; 
--green_700_21:#3b823e21; 
--black_900:#000000; 
--light_green_600:#8f9c3f; 
--blue_gray_800:#344054; 
--blue_gray_900_00:#34343400; 
--blue_gray_900_66:#34343466; 
--blue_gray_900:#343434; 
--red_A700:#e50000; 
--gray_900_02:#01370c; 
--gray_700:#506b52; 
--gray_400:#bcbcbc; 
--green_800_01:#436e35; 
--blue_gray_900_bf:#343434bf; 
--gray_900:#1b1818; 
--blue_gray_500:#667185; 
--gray_900_01:#101828; 
--light_green_600_01:#7eac44; 
--blue_gray_900_7f:#3434347f; 
--gray_300:#e3e3e3; 
--gray_300_01:#e2e4e5; 
--gray_100:#f0f5f0; 
--lime_100:#f0ead2; 
--black_900_72:#00000072; 
--gray_400_01:#c4c4c4; 
--gray_100_01:#f5f5f5; 
--blue_gray_900_3f:#3434343f; 
--gray_700_21:#506b5221; 
--blue_gray_900_cc:#343434cc; 
--blue_gray_900_99:#34343499; 
--white_A700:#ffffff; 
}